{% extends './_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-sm-6 offset-sm-3 default-div">
    <h2 class="page-header"><a href="{% url 'file_edit' file.pk %}">{{ file.name }}</a></h2>
    <p>namespace: {{ file.raw_ns }}</p>
    <hr>
</div>

<div class="col-sm-6 offset-sm-3 default-div">
    <form action="" method="POST" class="form jumbotron">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="submit" value="dodaj tabelę" class="btn btn-info">
    </form>
</div>

{% for table in tables %}
<div class="col-sm-6 offset-sm-3 default-div">
    <h4><a href="{% url 'table_show' table.pk %}">{{ table.name }}</a> <a href="{% url 'table_edit' table.pk %}">edytuj tabelę</a></h4>

    {% if table.tags.all %}
    <ul>
    {% for tag in table.tags.all %}
        <li><a href="{% url 'tag_edit' tag.pk %}">{{ tag.name }}, typ: {{ tag.get_type_display }}</a></li>
    {% endfor %}
    </ul>
    <hr>
    {% endif %}
</div>
{% endfor %}

{% endblock content %}