.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.default-div {
    margin-bottom: 3vh;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

section.content {
    padding-top: 3vh;
}

h4, h4 > a, p > a, h2 > a {
    color: grey;
    margin-bottom: 2vh;
}

h4 > a:last-child {
    font-size: 1rem;
}

ul {
    list-style: none;
    padding-left: 0;
}


ul > li > a {
    font-size: .9rem;
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

